In [1]:
#library Classification
import pandas as pd
import string
import numpy as np
import nltk

In [2]:
#Mesin Learning Naive Bayes
from sklearn.naive_bayes import MultinomialNB
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.utils.multiclass import unique_labels
from sklearn.preprocessing import LabelBinarizer, OrdinalEncoder, OneHotEncoder

In [3]:
#visualisasi hasil
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#memanggil dataset
filecsv='PergerakanLaba.csv'
teks=pd.read_csv(filecsv, header=0, delimiter=';', encoding='utf-8')
df=pd.DataFrame(teks)
print(df)

     No Transaksi,Tanggal,Dept,Kode Pelanggan,Nama Pelanggan,Sub Total,Total Pokok,Laba Kotor,Laba Jual,Perubahan Laba
0     148597/KSR/UTM/0522,44682,UTM,UMUM,UMUM,5000,4...
1     148598/KSR/UTM/0522,44682,UTM,UMUM,UMUM,63000,...
2     148599/KSR/UTM/0522,44682,UTM,UMUM,UMUM,24000,...
3     148600/KSR/UTM/0522,44682,UTM,UMUM,UMUM,4000,3...
4     148601/KSR/UTM/0522,44682,UTM,UMUM,UMUM,69000,...
...                                                 ...
2472  151098/KSR/UTM/0522,44693,UTM,UMUM,UMUM,3500,3...
2473  151099/KSR/UTM/0522,44693,UTM,UMUM,UMUM,26000,...
2474  151100/KSR/UTM/0522,44693,UTM,UMUM,UMUM,3500,2...
2475  151101/KSR/UTM/0522,44693,UTM,UMUM,UMUM,58000,...
2476  151102/KSR/UTM/0522,44693,UTM,UMUM,UMUM,6500,5...

[2477 rows x 1 columns]